.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.w-embed:after {
  clear: both;
}

.section {
  padding-top: var(--size--8xl);
  padding-bottom: var(--size--8xl);
  flex-flow: column;
  align-items: center;
  display: flex;
}

.section.insigts {
  padding-top: var(--size--7xl);
  padding-bottom: var(--size--7xl);
}

.container {
  width: 100%;
  max-width: var(--container--main-size);
  padding-right: var(--container--size-padding);
  padding-left: var(--container--size-padding);
  margin-left: auto;
  margin-right: auto;
}

.column {
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.text-s {
  font-size: var(--typography--text-s);
  line-height: var(--typography--line-height-l);
}

.text-s.text-color-black {
  color: var(--brand--brand-charcoal);
  margin-bottom: 0;
}

.text-s.text-color-black.text-weight-medium {
  font-weight: 500;
}

.text-s.text-color-blue {
  color: var(--brand--brand-electric-blue);
}

.heading-style-h2 {
  color: var(--color--text);
  font-size: var(--typography--h2);
  line-height: var(--typography--line-height-s);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.heading-style-h2.text-weight-bold {
  font-weight: 600;
}

.heading-style-h5 {
  color: var(--color--text);
  font-size: var(--typography--h5);
  line-height: var(--typography--line-height);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.heading-style-h5.text-weight-bold {
  font-weight: 600;
}

.margin-5xl {
  margin-bottom: var(--size--5xl);
}

.btn-animate-chars {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #131313;
  cursor: pointer;
  border-radius: .25em;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: none;
  padding: 1rem 2rem;
  font-size: 1em;
  line-height: 150%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.btn-animate-chars.secondary-black.regular {
  max-width: none;
  padding-right: var(--size--2xl);
  padding-left: var(--size--2xl);
  flex: 0 auto;
}

.btn-animate-chars.secondary-black.regular {
  max-width: none;
  padding-right: var(--size--2xl);
  padding-left: var(--size--2xl);
  max-width: none;
  padding-right: var(--size--2xl);
  padding-left: var(--size--2xl);
  flex: 0 auto;
}

.btn-animate-chars__bg {
  background-color: var(--brand--brand-electric-blue);
  color: var(--neutral--white);
  border-radius: 99999px;
  position: absolute;
  inset: 0;
}

.btn-animate-chars__bg.secondary-black-2 {
  border: 1px solid var(--color--text);
  background-color: #0000;
}

.btn-animate-chars__text {
  color: var(--color--background);
  font-size: var(--typography--button-text-m);
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
}

.btn-animate-chars__text.secondary-black-3 {
  color: var(--neutral--black);
}

.text-weight-bold {
  font-weight: 600;
}

.text-color-black {
  color: var(--color--text);
}

.insigts-heading-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.insights-post-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.insights-post {
  z-index: 2;
  grid-column-gap: var(--size--xl);
  grid-row-gap: var(--size--xl);
  flex-flow: column;
  display: flex;
  position: relative;
}

.insights-image-wrapper {
  border-radius: var(--radius--radius-xl);
  padding-top: 0%;
  position: relative;
  overflow: clip;
}

.insights-image {
  aspect-ratio: 410/260;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .3s cubic-bezier(.55,.085,.68,.53);
  position: static;
  inset: 0%;
  overflow: hidden;
}

.inisights-content {
  grid-column-gap: var(--size--xs);
  grid-row-gap: var(--size--xs);
  flex-flow: column;
  display: flex;
}

.inisights-content-top {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  display: flex;
}

.inisights-content-top.text-weight-medium {
  font-variation-settings: "wght" 440;
  font-variation-settings: "wght" 440;
}

.dot {
  background-color: #282c39;
  border-radius: 100px;
  width: 3px;
  height: 3px;
}

.insight-link {
  z-index: 1;
  position: absolute;
  inset: 0%;
}

.mobile-visible {
  display: none;
}

.text-weight-medium {
  font-variation-settings: "wght" 450;
}

.collection-item {
  position: relative;
}

@media screen and (max-width:991px) {
.section {
  padding-top: var(--size--6xl);
  padding-bottom: var(--size--6xl);
}

.column {
  width: 100%;
}

.heading-style-h2 {
  font-size: var(--typography--h2-tablet);
}

.heading-style-h5 {
  font-size: var(--typography--h5-tablet);
}

.insights-post-wrapper {
  grid-template-columns: 1fr;
}

.insight-link {
  width: 100%;
}

.desktop-visible {
  display: none;
}

.mobile-visible {
  margin-top: 2rem;
  display: flex;
}

.text-weight-medium {
  font-weight: 500;
}

.lg-list-wrapper {
  width: 100%;
}
}

@media screen and (max-width:767px) {
.section {
  padding-top: var(--size--5xl);
  padding-bottom: var(--size--5xl);
}

.section.insigts {
  padding-top: var(--size--5xl);
  padding-bottom: var(--size--5xl);
}

.column {
  overflow: hidden;
}

.heading-style-h2 {
  font-size: var(--typography--h2-mobile);
}

.heading-style-h5 {
  font-size: var(--typography--h5-mobile);
}

.insights-post-wrapper {
  grid-column-gap: var(--size--4xl);
  grid-row-gap: var(--size--4xl);
}

.insights-post, .insights-image-wrapper {
  width: 100%;
}

.insight-link {
  width: 100%;
}
}

@media screen and (max-width:479px) {
.column {
  overflow: visible;
}

.insigts-heading-wrapper.margin-5xl {
  flex-flow: column;
  align-items: flex-start;
}
}
